<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인 화면</title>
</head>
<body>
    <h1>AJAX, Spring Boot & MyBatis</h1>    
    <h3>평가 - 게시판</h3>
    <ul>
        <li>Spring Boot 3.x</li>
        <li>Thymeleaf</li>
        <li>MySQL 8.x</li>
        <li>MyBatis 3.0</li>
    </ul>
    <hr>
    <hr>
    <br>
    <br>
    <div>
        <h3>
            <a href="/board/list">게시판</a>
        </h3>
            
    </div>
</body>
</html>